{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block page_title %}{{object.first_name}} {{object.last_name}}{% endblock %}
{% block custom_css %}
	<!-- TEMPLATE CUSTOM CSS -->
	<link href="{% static 'css/patients.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row profile">
		<div class="col-md-9">
			<div class="patient-add-content">
				<h4>Información Principal</h4>
				<hr/>
				<form action="." method="POST"> {% csrf_token %}
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-4 col-form-label">Nombre</label>
				    <div class="col-sm-8">
				      {{ form.first_name|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-4 col-form-label">Apellido</label>
				    <div class="col-sm-8">
				      {{ form.last_name|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Cédula</label>
				    <div class="col-sm-8">
				      {{ form.cedula|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Sexo</label>
				    <div class="col-sm-8">
				      {{ form.sex|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Edad</label>
				    <div class="col-sm-8">
				      {{ form.age|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Fecha de Nacimiento</label>
				    <div class="col-sm-8">
				      {{ form.datebirth|add_class:"form-control datepicker" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Referido por</label>
				    <div class="col-sm-8">
				      {{ form.refered_by|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Seguro Médico</label>
				    <div class="col-sm-8">
				      {{ form.insurance|add_class:"form-control" }}
				    </div>
				  </div>

				  <br/>
				  <h4>Información de Contacto</h4>
				  <hr/>
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-4 col-form-label">Dirección</label>
				    <div class="col-sm-8">
				      {{ form.address|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Teléfono</label>
				    <div class="col-sm-8">
				      {{ form.phone_1|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Teléfono 2</label>
				    <div class="col-sm-8">
				      {{ form.phone_2|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Celular</label>
				    <div class="col-sm-8">
				      {{ form.cellphone|add_class:"form-control" }}
				    </div>
				  </div>

				  <br/>
				  <h4>Información Laboral</h4>
				  <hr/>
				  <div class="form-group row">
				    <label for="inputEmail3" class="col-sm-4 col-form-label">Ocupación</label>
				    <div class="col-sm-8">
				      {{ form.ocupation|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Lugar de Trabajo</label>
				    <div class="col-sm-8">
				      {{ form.workplace|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Posición</label>
				    <div class="col-sm-8">
				      {{ form.position|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Teléfono del Trabajo</label>
				    <div class="col-sm-8">
				      {{ form.work_phone|add_class:"form-control" }}
				    </div>
				  </div>

				  <br/>
				  <h4>Contacto de Emergencia</h4>
				  <hr/>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">En caso de emergencia contactar a</label>
				    <div class="col-sm-8">
				      {{ form.emergency_contact|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Teléfono</label>
				    <div class="col-sm-8">
				      {{ form.emergency_phone_1|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Celular</label>
				    <div class="col-sm-8">
				      {{ form.emergency_phone_2|add_class:"form-control" }}
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="inputPassword3" class="col-sm-4 col-form-label">Otro número</label>
				    <div class="col-sm-8">
				      {{ form.emergency_cellphone|add_class:"form-control" }}
				    </div>
				  </div>
				  <hr/>
				  <a href="{% url 'pacientes:list' %}" class="btn btn-danger">Cancelar</a>
				  <input class="btn btn-success" type="submit" value="Registrar Nuevo Paciente">
				</form>
			</div>
		</div>
		<div class="col-md-3">
            <div class="patient-add-sidebar">
				<p>Si presenta inconvenientes, favor contactar al administrador.</p>
            </div>
		</div>
	</div>
</div>
{% endblock %}
